
/* Hero */

.hero-section h3 {
  font-size: 28px;
  color: var(--my-blue);
  font-weight: 600;
}

.hero-section h1 {
  color: var(--my-blue);
  font-size: 45px;
  font-weight: bold;
}

.hero-section .hero-heading {
  color: var(--my-red);
}

.hero-section p {
  color: var(--my-bright-blue);
  font-weight: 400;
  font-size: 16px;
}

.business-numbers.row h1 {
  color: var(--my-red);
  font-weight: bold;
}

@media (width >= 992px) {
  .business-numbers.row > div:not(:last-child) {
    border-right: 1px solid rgba(24, 49, 58, 0.2);
  }
}

/* Our Services */

.our-services {
  background: url("../images/left-bg.png") left center no-repeat,
    url("../images/round-bg.png") right bottom no-repeat;
  background-size: 70px;
}

/* .our-services .our-services-inner {
  width: 88%;
} */

:is(.our-services-header, .featured-works-header, .our-clients-header) h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--my-blue);
}

:is(.our-services-header, .featured-works-header, .our-clients-header) p {
  color: var(--my-bright-blue);
  font-weight: 300;
}

.our-service > div {
  border: 1px solid rgba(24, 49, 58, 0.11);
  min-height: 318px;
}

.our-service > div:hover {
  border: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.our-service .service-img {
  width: 80px;
  margin-bottom: 30px;
}

.our-service h3 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  color: var(--my-blue);
}

.our-service p {
  color: var(--my-bright-blue);
  font-size: 15px;
}

/* FEATURED WORK */

.featured-works {
  margin-top: 80px;
}

.featured-work-text h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--my-blue);
}

.featured-work-text p {
  font-weight: 300;
  color: var(--my-bright-blue);
}

.featured-work-text button:hover {
  border: 1px solid var(--my-red);
  color: var(--my-red);
  background-color: transparent;
}

.featured-works-container .featured-work-text:nth-child(2) button {
  background-color: var(--my-orange);
}

.featured-works-container .featured-work-text:nth-child(2) button:hover {
  border: 1px solid var(--my-orange);
  color: var(--my-orange);
  background-color: transparent;
}

@media (width <= 992px) {
  .featured-works,
  .hear-from-inner {
    max-width: 720px;
  }
}

@media (width <= 762px) {
  .featured-works {
    max-width: 500px;
  }
}

/* HEAR FROM */

.hear-from-inner h2 {
  font-size: 26px;
  color: var(--my-blue);
}

.hear-from-content > div {
  width: 40%;
}

.hear-from-content .hear-from-logo-1 {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 38%;
}

/* OUR CLIENTS */

.our-clients {
  margin-top: 80px;
  padding-inline: 4em;
}

.our-clients .our-client-logo {
  width: 150px;
  height: 50px;
  margin-right: 40px;
}

.slick-next,
.slick-prev {
  display: none !important;
}